project_name = "{{ terraform_project_name }}"
admin_ssh_key = "{{ admin_ssh_key }}"

datadog_api_key = "{{ datadog_api_key }}"
datadog_app_key = "{{ datadog_app_key }}"

yandex_token = "{{ yandex_token }}"
yandex_cloud_id = "{{ yandex_cloud_id }}"
yandex_folder_id = "{{ yandex_folder_id }}"

db_name = "{{ db_name }}"
db_user = "{{ db_user }}"
db_password = "{{ db_password }}"

yandex_s3_key_id = "{{ yandex_s3_key_id }}"
yandex_s3_secret_key = "{{ yandex_s3_secret_key }}"
